body{
    display: flex;
    flex-direction: column;
}
#bg{
    height: 100%;
}
nav{
    background: #2980B9;
    color: #fff;
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-weight: bold;
}
.hulahoop{
    font-size: 35px;
    vertical-align: sub;
    margin-left: -10px;
}
.holyContainer{
    flex: 1;
    display: flex;
}
.catalog{
    width: 200px;
    height: 100%;
    background: #38424D;
    color: #fff;
}
.catalog li{
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}
.content{
    height: 100%;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content .location{
    padding: 5px;
    border-bottom: 2px dashed #333;
    font-size: 14px;
    box-sizing: border-box;
}
.content ul{
    flex: 1;
}
.indexContainer,.helpContainer,.resContainer{
    height: 100%;
    padding: 0 150px;
}
/**/
.indexContainer{
    text-align: center;
    display: none;
}
/**/
.helpContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.icon-xinzeng{
    align-self: flex-end;
    margin: 10px 0 5px 0
}
.icon-chakan,.icon-bianji,.icon-delete{
    font-weight: bold;
    margin-right: 10px;
}
.helpContainer table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 12px #999;
}
.helpContainer table thead tr{
    border-bottom: 2px solid #ccc;
}
.helpContainer table tbody tr{
    border-bottom: 1px solid #ccc;
}
.helpContainer table tbody tr:last-child{
    border: none;
}
.helpContainer table td,.helpContainer table th{
    padding: 10px;
}
.helpContainer table td:first-child{
    font-weight: bold;
}
/**/
.resContainer{
}

.opeContainer{
    width: 50%;
    height: auto;
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    z-index: 3;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    display: none;
}
#helpTitle{
    width: 100%;
    border: 2px dashed #333;
    margin-bottom: 15px;
    padding: 10px 5px;
}
#addBtn{
    width: 50px;
    height: 23px;
    margin-top: 10px;
    float: right;
    background: #999;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}



















