<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.hulahoop.dao.FeedbackInfoMapper">
    <resultMap id="BaseResultMap" type="com.yc.hulahoop.pojo.FeedbackInfo">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="send_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="receive_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="level" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="parent" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="sequence" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, send_id, receive_id, content, level, parent, sequence, status, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from feedback_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM feedback_info
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.yc.hulahoop.pojo.FeedbackInfo">
        INSERT INTO feedback_info (id, send_id, receive_id,
                                   content, level, parent,
                                   sequence, status, create_time,
                                   update_time)
        VALUES (#{id,jdbcType=INTEGER}, #{sendId,jdbcType=INTEGER}, #{receiveId,jdbcType=INTEGER},
                #{content,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{parent,jdbcType=INTEGER},
                #{sequence,jdbcType=INTEGER}, 1, now(), now())
    </insert>
    <insert id="insertSelective" parameterType="com.yc.hulahoop.pojo.FeedbackInfo">
        insert into feedback_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sendId != null">
                send_id,
            </if>
            <if test="receiveId != null">
                receive_id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="parent != null">
                parent,
            </if>
            <if test="sequence != null">
                sequence,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="sendId != null">
                #{sendId,jdbcType=INTEGER},
            </if>
            <if test="receiveId != null">
                #{receiveId,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=VARCHAR},
            </if>
            <if test="parent != null">
                #{parent,jdbcType=INTEGER},
            </if>
            <if test="sequence != null">
                #{sequence,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                1,
            </if>
            <if test="createTime != null">
                now(),
            </if>
            <if test="updateTime != null">
                now(),
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yc.hulahoop.pojo.FeedbackInfo">
        update feedback_info
        <set>
            <if test="sendId != null">
                send_id = #{sendId,jdbcType=INTEGER},
            </if>
            <if test="receiveId != null">
                receive_id = #{receiveId,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=VARCHAR},
            </if>
            <if test="parent != null">
                parent = #{parent,jdbcType=INTEGER},
            </if>
            <if test="sequence != null">
                sequence = #{sequence,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yc.hulahoop.pojo.FeedbackInfo">
        UPDATE feedback_info
        SET send_id     = #{sendId,jdbcType=INTEGER},
            receive_id  = #{receiveId,jdbcType=INTEGER},
            content     = #{content,jdbcType=VARCHAR},
            level       = #{level,jdbcType=VARCHAR},
            parent      = #{parent,jdbcType=INTEGER},
            sequence    = #{sequence,jdbcType=INTEGER},
            status      = #{status,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = now()
        WHERE id = #{id,jdbcType=INTEGER}
    </update>


    <select id="queryFeedbackList" resultType="com.yc.hulahoop.vo.FeedbackInfoVo">
        SELECT
            f.id                                      AS id,
            level,
            u.id                                      AS userId,
            username,
            content,
            DATE_FORMAT(f.update_time, '%Y-%m-%d %T') AS updateTime
        FROM feedback_info f
            JOIN users u ON f.send_id = u.id
        WHERE parent = 0
        ORDER BY f.update_time DESC
    </select>

    <select id="queryFeedbackCount" resultType="int">
        SELECT count(*)
        FROM feedback_info
        WHERE parent = 0
    </select>

    <select id="detail" parameterType="string" resultType="com.yc.hulahoop.vo.FeedbackInfoVo">
        SELECT
            f.id,
            f.level,
            f.parent,
            f.sequence,
            u.id                                      AS userId,
            u.username,
            u.avatar,
            f.content,
            DATE_FORMAT(f.create_time, '%Y-%m-%d %T') AS createTime
        FROM feedback_info f
            JOIN users u ON f.send_id = u.id
        WHERE level LIKE #{level}
        ORDER BY sequence
    </select>

    <select id="search" resultType="int">
        SELECT parent
        FROM feedback_info
        WHERE content LIKE #{content} OR send_id IN (SELECT id
                                                     FROM users
                                                     WHERE username LIKE #{content})
    </select>

    <select id="queryVoById" resultType="com.yc.hulahoop.vo.FeedbackInfoVo">
        SELECT
            f.id,
            f.level,
            u.username,
            f.content,
            f.status,
            DATE_FORMAT(f.create_time, '%Y-%m-%d %T') AS createTime
        FROM feedback_info f
            JOIN users u ON f.receive_id = u.id
        WHERE level = #{feedBackId}
        ORDER BY createTime
    </select>

    <select id="queryStatus" resultType="int">
        SELECT COUNT(*) FROM feedback_info WHERE receive_id=#{receiveId} AND status=1 AND level like #{level}
    </select>

    <select id="listByUser" resultType="int">
        SELECT level
        FROM feedback_info
        WHERE send_id = #{userId} AND parent = 0
    </select>

    <select id="queryNotice" resultType="int">
        SELECT COUNT(*)
        FROM feedback_info
        WHERE status = 1 AND receive_id = #{userId}
    </select>

    <update id="updateStatusByFeedId" parameterType="map">
        UPDATE feedback_info
        SET status = #{status}
        WHERE send_id=#{sendId} AND receive_id = #{receiveId} AND level LIKE #{level}
    </update>

    <update id="updateUpdateTimeByLevel" parameterType="string">
        UPDATE feedback_info
        SET update_time = now()
        WHERE level LIKE #{level}
    </update>
</mapper>