.tips{
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -50px;
    z-index: 2;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    border: 2px dotted #00728a;
    display: none;
    padding: 0 10px;
    box-sizing: border-box;
}
/*list comments --start*/
/*the div of all comments*/
#comments{
    background: #f2f2f2;
    padding: 10px;
    box-sizing: border-box;
}
/*each comment*/
#comments>div{
    border: 4px dotted #ccc;
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}
/*the last response of a comment*/
#comments>div>div:last-child{
    border: none;
}
/**/
.each>div:first-child{
    margin: 10px 0;
    display: flex;
    border-bottom: 1px solid #000;
}
.responseUid{
    display: block;
}
.user{
    text-align: center;
}
.user>span{
    font-size: 14px;
    color: #666;
}
.user img{
    width: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
}
/*content of comment*/
.content{
    flex: 1;
    margin-left: 20px;
}
.content>div:first-child{
    min-height: 37px;
    font-size: 15px;
}
.response{
    font-size: 14px;
    font-weight: bold;
    color: #00728a;
    margin-right: 10px;
}
/*回复*/
.operation{
    font-size: 13px;
    color: #666;
    margin: 10px 0;
}
.commentTime{
    cursor: pointer;
}
.icon-zan11,.icon-zan1,.addComment{
    margin-right: 10px;
    cursor: pointer;
    float: right;
}
/*list comments --end*/

/*addcomment div --start*/
.commentContent{
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    display: none;
}
.commentContent>div:first-child{
    display: flex;
    margin-bottom: 10px;
}
.currentUser{
    vertical-align: top;
}
.currentComment{
    flex: 1;
    resize: none;
    margin-left: 10px;
    min-height: 100px;
    padding: 5px;
    box-sizing: border-box;
}
.btns{
    float: right;
}
/*addcomment div --end*/
.colorBlack{
    color: #000;
}