*{
    padding: 0;
    margin: 0;
    font-family: "Microsoft Yahei";
}
html,body{
    height: 100%;
    background: #f2f2f2;
}
/* No1.a */
a{
    text-decoration: none;
    color: #000;
}

/* No2.input */
input{
    height: 21px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    width: 157px;
    box-sizing: border-box;
    outline: none;
}
select{
    outline: none;
    cursor: pointer;
}

/* No3.border*/
.warnBorder{
    border: 1px solid red;
}

/* No4.margin */
.mr10{
    margin-right: 10px;
}
.mr20{
    margin-right: 20px;
}
.mb10{
    margin-bottom: 10px;
}
.mtb10{
    margin: 10px 0;
}

/* No5.color */
.colorBlack{
    color: #000;
}

/* No6.tips */
.tips{
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    border: 2px dotted #00728a;
    display: none;
    padding: 0 10px;
    box-sizing: border-box;
}

/* No7.back to top */
#backTop{
    position: fixed;
    left: 20px;
    bottom: 30px;
    display: none;
}
#backTop span{
    display: inline-block;
    width: 15px;
    line-height: 12px;
    color: #E95C8F;
    font-size: 10px;
    font-weight: bold;
}
#toTop{
    width: 50px;
    cursor: pointer;
}

/* No8.ul*/
ul{
    list-style: none;
}

/* No9.padding */
.plf20{
    padding: 0 20px;
}