body{
    padding: 0 15% 0 5%;
}
/* ---catalog start--- */
.catalog{
    float: left;
    background: #fff;
    font-size: 14px;
    box-shadow: 0 0 15px #999;
    position: fixed;
    max-width: auto;
    border-left: 3px solid #3367D6;
}
.catalog li{
    padding: 2px 10px;
}
.catalog li:first-child{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    font-size: 19px;
}
.current{
    color: #2196F3;
}
/* ---catalog end--- */

.ItemRight{
    width: 70%;
    float: right;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
}
nav{
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 14px;
}

/* ---content start--- */
.content{
    margin-bottom: 20px;
}
.cata{
    background: #fff;
}
.cata:first-child{
    border-radius: 10px 10px 0 0;
}
.content div:nth-child(5){
    border-radius: 0 0 10px 10px;
}
#cata,#cata,#cata,#cata,#cata{
    padding: 10px;
    box-sizing: border-box;
}
.dayTitle{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}
.commentTitle{
    font-size: 20px;
    border-bottom: 2px solid #3367D6;
    margin: 10px 0 0 0;
    color: #666;
    background: none;
}
/* ---content end--- */

/* ---conmment start--- */
.comments{
    background: #fff;
    border-radius: 0 0 10px 10px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}
.comment{
    height: auto;
    box-sizing: border-box;
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-bottom: 1px dashed #ccc;
}
.comments>div:last-child{
    border: none;
    margin-bottom: 0;
}
.comment img{
    height: 50px;
    border-radius: 50%;
    border: 2px solid #999;
    box-sizing: border-box;
    margin-right: 15px;
}
.response{
    flex: 1;
    overflow: hidden;
}
.commInfo{
    font-size: 12px;
    color: #666;
}
.commContent{
    font-size: 15px;
    margin: 5px 0 10px 0;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.commOperation{
    font-size: 12px;
    float: right;
    color: #666;
}
/* ---conmment end--- */