/* catalog */
.catalog,.content{
    width: 80%;
    height: auto;
    background: #fff;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    box-sizing: border-box;
    box-shadow: 0 0 15px #999;
}
.catalog{
    position: fixed;
    top: 20px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.js-example-basic-single{
    width: 260px;
}

/* content */
.content{
    overflow: hidden;
    position: relative;
    top: 120px;
    margin-bottom: 30px;
}
.container{
    width: 25%;
    height: auto;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.strategy{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px #999;
    transition: all 0.3s linear;
}
.strategy:hover{
    box-shadow: 0 0 30px #999;
    transition: all 0.3s linear;
}
.strategy img{
    width: 100%;
    border-radius: 10px;
}
.s_msg{
    font-size: 13px;
    margin: 0 5px;
}
.s_msg>div{
    margin: 5px 0;
}
.s_msg>div>span:nth-child(2){
    font-weight: bold;
}
@media (max-width:750px){
    .container{
        width: 50%;
    }
    .catalog{
        flex-direction: column;
        align-items: center;
    }
    .provTab{
        margin-bottom: 20px;
    }
}
@media (min-width:750px) and (max-width:1000px){
    .container{
        width: 33%;
    }
}
@media (min-width:1200px){
    .container{
        width: 20%;
    }
}