/*list comments --start*/
/*the div of all comments*/
#comments{
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    width: 1000px;
    margin: 30px auto;
}
/*each comment*/
#comments>div{
    border: 4px dotted #ccc;
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}
/*the last response of a comment*/
#comments>div>div:last-child{
    border: none;
}
/**/
.each>div:first-child{
    margin: 10px 0;
    display: flex;
    border-bottom: 1px solid #000;
}
.responseUid{
    display: block;
}
.user{
    text-align: center;
}
.user>span{
    font-size: 14px;
    color: #666;
}
.user img{
    width: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
}
/*content of comment*/
.content{
    flex: 1;
    margin-left: 20px;
}
.content>div:first-child{
    min-height: 37px;
    font-size: 15px;
}
.response{
    font-size: 14px;
    font-weight: bold;
    color: #00728a;
    margin-right: 10px;
}
/*回复*/
.operation{
    font-size: 13px;
    color: #666;
    margin: 10px 0;
    float: right;
}
.commentTime,.icon-zan11,.icon-zan1,.addComment{
    cursor: pointer;
}
.commentTime,.against,.for,.addComment{
    margin-right: 10px;
}
/*list comments --end*/

/*addcomment div --start*/
.commentContent{
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    display: none;
}
.commentContent>div:first-child{
    display: flex;
    margin-bottom: 10px;
}
.currentUser{
    vertical-align: top;
}
.currentComment{
    flex: 1;
    resize: none;
    margin-left: 10px;
    min-height: 100px;
    padding: 5px;
    box-sizing: border-box;
}
.btns{
    float: right;
}
.btns>input{
    width: 70px;
    margin-left: 10px;
}
/*addcomment div --end*/