body > div:nth-child(3) {
    background: #F8FAFC;
}

.banner {
    width: 100%;
    height: 500px;
    background: url("../images/index.jpg");
}

.recommendContainer, .newestContainer, .hottestContainer {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 10px 100px 0 100px;
    box-sizing: border-box;
    box-shadow: 0 0 15px #ccc inset;
}

.title {
    font-size: 30px;
    color: #E7273C;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.strategy {
    display: inline-block;
    width: 240px;
    height: auto;
    margin: 20px 20px 0 20px;
    cursor: pointer;
}

.strategy > img {
    width: 240px;
    height: 120px;
    border-radius: 5px;
    box-shadow: 0 0 15px #ccc;
}

.info {
    padding: 0 5px;
}

.strategyTitle, .strategyInfo, .strategyDate {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.strategyTitle {
    font-size: 18px;
    font-weight: bold;
}

.strategyInfo, .strategyDate {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.strategyInfo {
    color: #999;
}

.strategyDate {
    color: #666;
    font-size: 12px;
    display: inline-block;
    text-align: right;
}